{% extends 'layout.html'%}
{% load staticfiles %}

{% block title %}
	<title>DragonFeed - Create Event</title>
{% endblock %}

{% block header %}
	<h3>Add New Article</h3>
{% endblock %}

{% block index.html%}
	<div class="container">
		<div class="add-event-form">
				<p class="text-center content-header">Create Event</p>
			<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% include 'form_template.html'%}
				<div class="form-group">
					<div class="col-md-10">
						<button type="submit" class="btn btn-primary">Add Article</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
		