{% load bootstrap %}
{% for field in form %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<span class="text-danger">{{ field.errors }}</span>
		</div>
		<div class="col-md-4">
			<div class="field">
				{{field|bootstrap}}
			</div>
		</div>
	</div>
{% endfor %}