{% extends 'layout.html'%}
{% block index.html%}
<div class="container">
    {% if allArticles %} 
        <p class="text-center content-header">Current Events</p>
        <div class="card-deck">
            {% for article in allArticles %}
                <div class="col-md-4">
                    <div class="card">
                        <a href="{% url 'article:details' article.id %}">
                            <img class="card-img-top" src="{{ article.Flyer.url}}" alt="Card image cap">
                        </a>
                        <br>
                        <div class="card-footer">
                            <small class="text-muted">Uploaded {{article.timestamp}}</small>
                        </div>
                    </div>
                    <br> 
                </div>          
            {% endfor %}
        </div>     
        {% else %}
            <h1>No Events Yet</h1>
    {% endif %}
</div>
{% endblock %}
