{% extends 'layout.html'%}
{% block index.html%}
<div class="container">
    {% if allArticles %}
    <p class="text-center content-header">Current Informal* Events</p> 
        <div class="card-deck ">
            {% for article in allArticles %}
                {% if not article.Orginization %} 
                    <div class="card">
                        <a href="{% url 'article:details' article.id %}">
                            <img class="card-img-top" src="{{ article.Flyer.url}}" alt="Card image cap">
                        </a>
                        <div class="card-footer">
                            <small class="text-muted">Uploaded {{article.timestamp}}</small>
                        </div>
                    </div>  
                {% endif %} 
            {% endfor %} 
        </div> 
        <br>
        <h4>*An informal event is defined as an event <span style="weight:bold;">not</span> 
            held by a Dexel associated orginization rather by a group of Drexel students.
        </h4> 
        {% else %}
        <div class="container">
            <h1>No Formal Events Yet</h1>
        </div> 
    {% endif %}
</div>
{% endblock %}


